:root {
  --radius-pill: 999px;
  --color-black: #000;
  --color-gray: #ccc;
  --color-danger: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: var(--color-black);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  min-height: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

div:empty,
div:has(> div:empty) {
  display: none;
}

.button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.6rem 1.8rem;
  height: 3.6rem;
  border: 1px solid var(--color-black);
  border-radius: var(--radius-pill);
}

.button.button--primary {
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.button.button--danger {
  color: var(--color-danger);
  border: 1px solid var(--color-danger);
}

.input {
  border: 1px solid var(--color-gray);
  border-radius: var(--radius-pill);
  padding: 0.6rem 1.8rem;
  outline: none;
  height: 3.6rem;
  width: 100%;
}

.input:focus {
  border-color: var(--color-black);
}
