.match {
  border-radius: 0.9rem;
  padding: 1.2rem;
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.match h3 {
  text-transform: uppercase;
}

.match__input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

@media (min-width: 750px) {
  .match__input {
    flex-direction: row;
  }
}

.match__cta {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

@media (min-width: 750px) {
  .match__cta {
    flex-direction: row;
  }
}

.match-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 4.5rem 0;
}
.match-form-container h1 {
  text-align: center;
}

.match-form-container .match-form-container__inputs {
  display: flex;
  gap: 0.6rem;
}

.match-form-container__cta {
  display: flex;
  justify-content: center;
}

form#match-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.matches {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
